[submodule "back-end"]
	path = back-end
	url = https://github.com/Cheku-Corporation/back-end.git
[submodule "front-end"]
	path = front-end
	url = https://github.com/Cheku-Corporation/front-end.git
[submodule "data-generator"]
	path = data-generator
	url = git@github.com:Cheku-Corporation/data-generator.git
